
#s4-topheader2 { /*sp branding removes visibility*/
  display: none;
}

#s4-titlerow {/*sp branding removes visibility*/
  display: none;
}

.flex-container {

  display: flex;
  background-color: DodgerBlue;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.flex-container > div {
  background-color: #f1f1f1;
  margin: 10px;
  padding: 20px;
  font-size: 30px;
  transform: scale(1);
}

.btn:active {
  transform: scale(.97);
  transition: transform .2s;
}

.scoreBoard {
  margin-left: auto;
  font-size: -25%;
  background-color: #f1f1f1;
  text-align: center;
}

.scoreBoard_user {
  color: #ffffff;
  background-color: #f50707;
}

.scoreBoard_computer {
  color: #ffffff;
  background-color: #071ff5;
}
